<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="https://src.hazelnut-paradise.com/HazelnutParadise-icon.ico" type="image/x-icon">
    <title>登入 - 榛果繽紛樂</title>
    {{ template "css" . }}
</head>

<body>
    <main>
        <iframe src="https://src.hazelnut-paradise.com/navbar.html?content-type=text/html" frameborder="0" width="300px"
            height="320px">
        </iframe>
        <div class="container">
            <h1>登入</h1>
            <h2>歡迎回到榛果繽紛樂</h2>
            <p id="warning" class="warning"></p>
            <form>
                <label for="username">使用者名稱</label>
                <input id="username" type="text" name="username" placeholder="Username" required>
                <label for="password">密碼</label>
                <input id="password" type="password" name="password" placeholder="Password" required>
                <input type="submit" id="login" value="登入">
            </form>
            <a class="a-button" href="/register">註冊</a>
            <div class="link-div">
                <a href="/forget">忘記密碼</a>
                <a href={{.SupportDocsLink}} target="_blank">說明文件</a>
            </div>
        </div>
    </main>
</body>
<script>
    showWarning = (message) => {
        const warning = document.getElementById('warning')
        warning.innerText = message
        warning.style.display = 'flex'
    }
    document.getElementById('login').addEventListener('click', async (e) => {
        e.preventDefault()
        const form = document.querySelector('form');
        if (!form.checkValidity()) {
            form.reportValidity()
            return
        }
        const username = document.querySelector('input[name="username"]').value
        const password = document.querySelector('input[name="password"]').value
        if (username === '' || password === '') {
            showWarning('請輸入帳號密碼')
            return
        }
        try {
            const res = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: username,
                    password: password
                })
            })
            const resJson = await res.json()
            if (res.status === 200) {
                alert(resJson.message)
                window.location.href = '/'
            } else {
                showWarning(resJson.error)
            }
        } catch (e) {
            console.log(e)
            showWarning('無法連接伺服器')
        }
    })
</script>

</html>