<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://src.hazelnut-paradise.com/HazelnutParadise-icon.ico" type="image/x-icon">
    <title>{{.User.Username}} 的使用者資訊 - 榛果繽紛樂</title>
</head>

<body>
    {{ template "css" . }}
    <iframe src="https://src.hazelnut-paradise.com/navbar.html?content-type=text/html" frameborder="0" width="300px"
        height="320px">
    </iframe>
    <main class="profile">
        <div class="container">
            <img src="https://src.hazelnut-paradise.com/HazelnutParadise-logo.png" alt="Profile Photo"
                style="width:100px;height:100px;border-radius:50%;" />
            <h1 id="nickName">{{.User.Nickname}}</h1>
            <div class="edit-input">
                <label for="nickNameInput">暱稱</label>
                <input type="text" id="nickNameInput" name="nickNameInput" />
            </div>
            <h2 id="userName">{{.User.Username}}</h2>
            <div class="edit-input" style="margin-top: 12px;">
                <label for="userNameInput">使用者名稱</label>
                <input type="text" id="userNameInput" name="userNameInput" />
            </div>
            <p id="userBio">這裡可以放置簡單的自我介紹或其他個人資訊。</p>
            <div class="edit-input" style="margin: 12px 0;">
                <label for="userBioInput">簡介</label>
                <textarea id="userBioInput" name="userBioInput"></textarea>
            </div>
            <div class="info">
                <div class="line">
                    <h3>Email</h3>
                    <span id="userEmail">{{.User.Email}}</span>
                </div>
                <div class="line">
                    <h3>電話號碼</h3>
                    <span id="userPhone">{{.User.Phone}}</span>
                    <div class="edit-input">
                        <input type="tel" id="phoneInput" name="phoneInput" />
                    </div>
                </div>
                <div class="btn-box">
                    <button id="editBtn" class="secondary-btn" onclick="toggleEdit()">編輯資訊</button>
                    <button id="saveChangesBtn" class="main-btn" style="display: none;"
                        onclick="saveChanges();return false;">儲存</button>
                </div>
            </div>
        </div>
        <button id="logout" class="main-btn logout-btn" onclick="logout()">登出</button>
    </main>
    <script>
        let isEditing = false;
        function toggleEdit() {
            const editBtn = document.getElementById('editBtn');
            const saveChangesBtn = document.getElementById('saveChangesBtn');
            const editInputs = document.querySelectorAll('.edit-input');

            if (!isEditing) {
                editBtn.textContent = '取消';
                saveChangesBtn.style.display = 'block';
                editInputs.forEach(input => {
                    input.style.display = 'block';
                });
                document.getElementById('nickName').style.display = 'none';
                document.getElementById('nickNameInput').value = document.getElementById('nickName').textContent;
                document.getElementById('userName').style.display = 'none';
                document.getElementById('userNameInput').value = document.getElementById('userName').textContent;
                document.getElementById('userBio').style.display = 'none';
                document.getElementById('userBioInput').value = document.getElementById('userBio').textContent;
                document.getElementById('userPhone').style.display = 'none';
                document.getElementById('phoneInput').value = document.getElementById('userPhone').textContent;
            } else {
                editBtn.textContent = '編輯資訊';
                saveChangesBtn.style.display = 'none';
                editInputs.forEach(input => {
                    input.style.display = 'none';
                });
                document.getElementById('nickName').style.display = 'block';
                document.getElementById('userName').style.display = 'block';
                document.getElementById('userBio').style.display = 'block';
                document.getElementById('userPhone').style.display = 'block';
            }

            isEditing = !isEditing;
        }
        function saveChanges() {
            document.getElementById('userName').textContent = document.getElementById('nameInput').value;
            document.getElementById('userBio').textContent = document.getElementById('bioInput').value;
            toggleEdit();
        }
        const logout = async () => {
            const result = await fetch('/logout', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            const resultJson = await result.json()
            if (result.ok) {
                alert(resultJson.message)
                window.location.href = '/login'
            } else {
                alert(resultJson.error)
            }
        }
    </script>
</body>

</html>